@import "bootstrap";

@font-face {
   font-family: 'Open Sans';
   src:         local('Open Sans'), local('OpenSans'), 
                url('/assets/Open_Sans_v13_latin_400.woff2') format('woff2'),
                url('/assets/Open_Sans_v13_latin_400.woff') format('woff');
   font-style:  normal;
   font-weight: 400;
}

body {
  background: url("/assets/images/wc8k-kryepm-joel-filipe-light.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
}

#hiddenwithoutjavascript {
    display: none;
}

.container {
    background: rgba(255,255,255,0.9);
    padding-bottom: 10px;
    margin-bottom: 50px;
    box-shadow: -3px 3px 10px 0px;
}

.distance-top-50 {
    padding-top: 50px;
}

.distance-top-20 {
    padding-top: 20px;
}

.jumbotron {
    margin-top: 20px;
}

hr {
    border: 1px solid #c0c0c0;
    width: 80%;
}
