<h2>Contact the Digital Rights Fund</h2>

<p class="distance-top-50">
The Digital Rights Fund is a project by
</p>

<p>
 <address>
    <strong><a href="https://www.renewablefreedom.org/">Renewable Freedom Foundation</a></strong>
    <br/>Stauffenbergstrasse 2a
    <br/>85051 Ingolstadt
    <br/>Germany
    <p/>+49-841-13300-781
    <p/><u>contact<span class="hidden">.nospam</span>@digitalrights.fund</u>
    <br>PGP: <a href="https://sks.b4ckbone.de/pks/lookup?op=get&search=0xD129614F32B04925"><code>E708 65BA E4AE 2390 7A86 9AD8 D129 614F 32B0 4925</code></a>
 </address>
 <ul>
  <li>Coordination: Moritz Bartl (Renewable Freedom Foundation)</li>
  <li>Administrative Support: Martin Modlinger (Renewable Freedom Foundation)</li>
{{#if session.isAuthenticated}}
  <li>Community Liaison: <a href="mailto:guillermo.peris@edri.org">Guillermo Peris</a> (EDRi)</li>
{{else}}
  <li>Community Liaison: Guillermo Peris (EDRi)</li>
{{/if}}
 </ul>
</p>

<h3 class="distance-top-20">Contact for Grantees and Participants: <a href="mailto:grants@digitalrights.fund">grants@digitalrights.fund</a></h3>

<h3 class="distance-top-20">Credits</h3>
<p>
The background image is based on a photo taken in Madrid by <a href="http://joelfilipe.com/">Joel Filipe</a>. The voting platform for this fund has been developed by <a href="https://about.me/muesli">Christian Muehlhaeuser</a>, is called <a href="https://github.com/muesli/polly">Polly</a> and is open source.
</p>
