<h2>Details</h2>

<a href="/assets/digitalrightsfund-overview.pdf">(This page is also available as PDF)</a>

<h3>Motivation</h3>

<p class="text-justify">The European Digital Rights Community is highly engaged, well-connected in its own field, and surprisingly successful when their bleak funding situation is taken into account. In other words: the community is doing its best to fight for digital rights, to engage the public, and to counter an efficiently organized and often downright aggressive corporate lobby, but it is struggling on all ends. Many organizations are either entirely made up of volunteers or of a very small team of
professional staff and have neither the time nor the resources to connect with other civil society organizations. They are the first to track and fight emerging issues in digital rights, the leading expert voices in their communities, but rarely capable of properly supporting activities and joint campaigns with NGOs and other actors in neighbouring fields or countries. While there is outside support for larger and multi-year projects, both the scope of such grander projects and the
associated commitment of time and resources to the often long-winded processes of application keep NGOs from being able to address, on an ad-hoc basis, time-sensitive matters and often prevent them from adequately forming effective temporary coalitions around common issues.
</p>

<p class="text-justify">
A small-grants program, based on peer-led decisions from the Digital Rights community and with ease of applications and distribution of funds at its heart, will significantly strengthen the field. It will allow for small, yet important projects to be undertaken by single organizations or joint initiatives, and especially for ever-more important connections with other rights and civil liberties movements. Small grants will allow the community to identify and connect with potential allies
in the fields of activism, research, consumer protection, litigation, and others, and will empower them to address pressing issues. It will also help them plan and prepare larger initiatives without having to stretch their already all too thin core budgets.
</p>

<h3>Scope</h3>
<p class="text-justify">
The European Digital Rights Small-Grants Program is open to initiatives in the space of Digital Rights, but also specifically encourages collaboration and cooperation with other civil society and civil liberty organizations. This will produce impact across areas, build lasting connections necessary in the face of strong and well-connected enemies, and overall strengthen the community.
</p>
<p class="text-justify">
In our current design, small grants are capped at 5,000€ (with additional funding, this could be raised to 10,000€ or beyond) and will allow for, for example, workshops and meetings with other civil society organizations, project planning, and the inception and execution of small projects.
</p>
<p class="text-justify">
In addition, the small-grants program offers “micro” grants, which serve to address immediate needs, such as travel for all-volunteer organizations, flyers for quick campaigns, or replacement or initial purchase of essential equipment.
</p>
<p class="text-justify">
In order to unburden applicants, applications are straightforward and quickly decided upon by the community, with guidelines developed by the peer group themselves.
</p>

<h3>Structure</h3>
<p class="text-justify">
The European Digital Rights Small Grants Program is managed by the Renewable Freedom Foundation (RFF), but operates on community-based decision-making. We generally believe that such an approach  empowers the community and gives the real experts the chance to make the most effective use of resources. While there are pitfalls in this funding strategy (a higher burden of time and responsibility on the community), the potential benefits far outweigh these risks. A peer-led
decision-process harnesses the experience of those doing the actual day-to-day work in the community, makes use of their detailed knowledge of the communities' needs and the most important and pressing issues, and builds both trust and  leadership capacity. While we are always ready to tune selection processes and mechanics (see below), we believe this is the right structure for a small grants program in Digital Rights.
</p>
<p class="text-justify">
RFF plans to set up a similar community-based small grants program in the area of technology, which will complement the European Digital Rights Fund.
</p>

<h3>Selection</h3>
<p class="text-justify">
For the peer-led selection process, we rely on structures already in place and well-respected in the Digital Rights community. In particular, we built the small grants program on the foundation of EDRi and its member organizations.
</p>
<p class="text-justify">
The European Digital Rights association EDRi is a well-known network of civil liberties organizations. According to its statutes “[t]he objective of the Association is not for profit and is to promote, protect and uphold civil and human rights in the field of information- and communication technology.” Its mission includes to “serve as a platform for cooperation and common activities and combine influence, experience, knowledge, and research” of its members. At the time of writing, EDRi
has 31 organizational members and 37 “observers”. Statutory membership is restricted to “not-for-profit, non-governmental organisations whose goals include the defence and promotion of civil rights in the field of information and communication technology”. New members can apply for membership or observer status; existing members discuss and vote on such applications by simple majority vote.
</p>
<p class="text-justify">
EDRi has consistently demonstrated its effectiveness in gathering experts from EU member states and internationally. Its membership guidelines and voting procedures can serve well as already existing mechanism to onboard new participants and to form a peer-led advisory board for a Small Grants Program.
</p>
<p class="text-justify">
Instead of creating a separate structure, with a separate decision-making process for eligibility, we “add” the function of suggesting small grant activities, as well as selection of grantees, to the existing EDRi network. The EDRi board and members insofar simply continue their selection processes to attract the best suited participants. At the same time, the collaboration with Renewable Freedom Foundation as intermediary avoids having to grow internal capacity to act as a
grant-maker directly at EDRi, which also frees the EDRi board and organization from potential conflict of interests.
</p>
<p class="text-justify">
In our current small-grants model, existing EDRi members and observers are invited to participate in an experimental peer-led “internal” grant-making process: In this design, proposals can only be put forward by existing members of the network, vouching for the activity, even if it is be performed by or in collaboration with third parties. Participants in EDRi already know each other, and discussing proposals in the existing network strengthen the level of collaboration and
inter-European awareness of activities.
</p>
<p class="text-justify">
A major motivation of a small grants program is to foster collaboration between a wide set of actors, as well as provide the necessary tool to quickly react to upcoming and emerging issues. We incentivise such collaboration by defining it as a major selection criterion that the group should take into account when voting on proposals.
</p>

<h3>Mechanics</h3>

<p class="text-justify">
There are certainly many options on how to exactly implement a small grants mechanism. The current model has been developed based on experiences with small grants at Renewable Freedom Foundation (RFF), and refined in conversations with actors from the field and other grant-makers. We consider this an ongoing experiment, with careful thought put into how this influences the dynamics of the field. We will monitor the development, and re-evaluate and tune parameters while we go along, together
with the participants.
</p>
<p class="text-justify">
We currently have a maximum of around 80 individuals who are eligible to suggest activities, as well as able to vote on their approval (EDRi board, EDRi members, and EDRi observers).
</p>

<h4>Proposals can be submitted by EDRi members and observers</h4>
<p class="text-justify">
Given that we want to tap the experience of the busiest actors in the field, we need to keep down the “noise”. We encourage participants to pick up and submit ideas on behalf of and together with third parties, but to not provide a public submission form for a broader audience: Grant recipients can also be third parties, but an application has to come from and be supported by an existing participant. At the same time, one of the main goals is to foster collaboration: We think this
is sufficiently embodied by making cross-organization partnerships a voting criteria. 
</p>

<h4>Submissions on a rolling basis</h4>
<p class="text-justify">
To quickly address emerging issues and hand out very small grants rapidly, submissions are evaluated on a rolling basis, and independent from each other. This is embodied in our "micro grants" process.
</p>
<p class="text-justify">
We split the available total budget into monthly budgets, with leftover funds moving to the next month(s). While it is an interesting thought experiment to “hide” the overall amount from the participants to strengthen the fact that each proposal should be judged independently, given the existing budget constraints we argue that the remaining budget for each month should be visible to all participants. A monthly budget restriction seems to be the right balance here, but we can tune this later
based on early results.
</p>

<h4>Discussion of proposals via “mailing list”</h4>
<p class="text-justify">
We want to make participation as lightweight as possible. For the given audience, we simply use emails to forward proposals to each participant and to allow a discussion. Each proposal has a link at the end to vote, and one to look at the current state of votes, its final acceptance and at an overview of past grant applications. Participants can reply to emails, and their comments will be forwarded to the whole group.
</p>

<h4>Non-disclosure of votes</h4>
<p class="text-justify">
Participants are able to see how many votes were cast for and against proposals, but we will not disclose who participated or who voted in which way. If participants want to explicitly express their approval (or rejection), they can express that in a reply to the email thread.
</p>
<p class="text-justify">
We keep track and store the actual votes for accountability purposes, but not use that information in any way besides when it becomes legally necessary. Legally, votes by this ‘advisory council’ are suggestions to the fund, and drive RFF’s actions.
</p>

<h4>Approval and dismissal of proposals</h4>
<p class="text-justify">
We have discussed many possible voting strategies, but it is very difficult to judge at this point how many and what type of applications the program will see, how active its participants will be, and how at the same time we can make sure to provide a meaningful and lightweight mechanism for a diverse set of actors with limited time. We argue that the following method of decision making is easy to understand, and as good as many others to start with. After some weeks, when we have
better figures, we can reiterate and adapt.
</p>
<p class="text-justify">
Currently, for grants below 2000€ (“micro grants”), everyone has fourteen days to cast a vote against a proposal. If the proposal gets five rejections during this period, it is immediately rejected. After the voting period is over, if the proposal has not received the minimum number of rejections, it will be accepted. It can be re-submitted later; we expect rejections to be discussed on the mailing list, where every proposal has its
own thread. For grants from 2000€ to 5000€ (“small grants”), due to funding limitations, we collect all proposals over a two-month period and then allow each participant to select their two favourite proposals. The two proposals with the most votes will be accepted.
</p>
<p class="text-justify">
At this point we do not plan to impose any limits on how often a proposal can be refined and resubmitted. We can develop these and other potential restrictions and guidelines during the course of the program together with its participants.
</p>
<p class="text-justify">
The downside of a minimum reaction time of fourteen days is that we cannot address urgent matters. We suggest participants contact RFF for small “emergency grants”, and activities that are too confidential to share with the whole group.
</p>

<h4>Reporting</h4>
<p class="text-justify">
Renewable Freedom Foundation (RFF) assists applicants in all reporting on granted activities. This  not only lightens the load on the organizations' shoulders, but also allows RFF to be on the pulse of current developments and activities, to keep track of projects, and to regularly inform the community and other actors about emerging issues. We believe this will also greatly help with the planning and design of larger initiatives in the space of Digital Rights. We keep the
process as lightweight for its participants as possible. The idea is to allow the community to decide on the level of detail they need to make decisions, and then work with the individual grantees to collect results and compile reports.
</p>
