<h2>How it works</h2>

<p class="text-justify" style="padding-top: 20px; padding-bottom: 20px;">
<span class="glyphicon glyphicon-heart-empty"></span> <strong>First of all, a disclaimer: This is an experiment! There is no way of knowing how you will end up using this opportunity, and we are looking forward to tweaking it together with you based on your critical feedback. You can reach us at <a href="mailto:grants@digitalrights.fund">grants@digitalrights.fund</a> (PGP: <a href="https://sks.b4ckbone.de/pks/lookup?op=get&search=0xD129614F32B04925"><code>E708 65BA E4AE 2390 7A86 9AD8 D129 614F 32B0
4925</code></a>).</strong>
</p>

<h3>General</h3>
<p class="text-justify">
On this platform, you will be able to submit proposals, comment on and decide over proposals submitted by others. <mark>You are here as an individual, not as a representative of your organization(s).</mark>
</p>

<h3>Goals</h3>
<p class="text-justify">
A major motivation of this program is to foster collaboration between a wide set of actors, as well as provide the necessary tool to quickly react to urgent or emerging issues. Very small amounts may not be that important for larger organizations, but they certainly can be for new ones or independent activists. On purpose, we do not set any additional requirements for what is possible with this fund: As long as your expert peers agree that it is a worthwhile activity, anthing
goes!
</p>

<h3>Eligibility</h3>
<p class="text-justify">
Currently, only EDRi members and observers can submit proposals. <mark>The activities themselves can be carried out by anyone.</mark> The submitting EDRi member or observer acts as a "gatekeeper": Since we are all busy, in order to keep the noise down, we decided not to open the process for outside submissions. We do strongly encourage that you pick up interesting activities by people you meet, and that you use this fund to support volunteers and fresh blood. Be playful!
</p>

<h3 style="padding-top: 20px">Submission Process</h3>

<p class="text-justify">
When you submit a proposal, we ask for general information about the planned activity, and a projected "end date". For successful proposals, near the end date, the contact you specify in the proposal will be reminded to submit a brief status report (ideally, a final report).</p>

<h4 id="micro">Grants up to 2000 € ("micro grants"): Instant, downvotes, 2 weeks</h4>
<p class="text-justify">
Submissions will first be reviewed for formal completeness by RFF staff, usually within less than 24 hours. If all required information is there, the proposal will be announced to all participants via email on the picked "vote start date".
Participants have two weeks to reply to the email for comments (which will be sent to everyone), and to express their <mark>disagreement by voting <strong>against</strong></mark> the proposal on the platform. If a proposal receives <mark><strong>less than five downvotes during the two weeks voting period</strong></mark>, it will be accepted, the Proposal Contact will be informed and they can get in touch with RFF staff to discuss details of the grant.
</p>
<p class="text-justify">
There is an overall limit of how many grants we can award per month. The remaining amount for the current month is displayed in the proposal overview, and before you submit a new proposal.
</p>

<h4 id="small">Grants from 2000€ to 5000€ ("small grants"): 2 proposals every 2 months, pick your favorite</h4>
<p class="text-justify">
Proposals between 2000€ and 5000€ have an additional constraint: To foster collaboration, these types of grants <mark>require the participation of two entities in two countries</mark>. Due to the limited amount of funding during the experiment, proposals in this range will be collected, and all "small grant" proposals from a two-month period will be announced to the group at once. Each participant has two weeks to select their two favorite proposals, and at the end of that two-week polling period, the 2 proposals with the
most votes will "win".
</p>

<p class="text-center" style="padding-top: 30px">
<object data="/assets/images/decisiontree.svg" type="image/svg+xml">
    <img src="/assets/images/decisiontree.png" />
</object>
</p>
