<h2>How it works</h2>

<p class="text-justify" style="padding-top: 20px; padding-bottom: 20px;">
<span class="glyphicon glyphicon-heart-empty"></span> <strong>First of all, a disclaimer: This is an experiment! There is no way of knowing how you will end up using this opportunity, and we are looking forward to tweaking it together with you based on your critical feedback. You can reach us at <a href="mailto:grants@digitalrights.fund">grants@digitalrights.fund</a> (PGP: <a href="https://sks.b4ckbone.de/pks/lookup?op=get&search=0xD129614F32B04925"><code>E708 65BA E4AE 2390 7A86 9AD8 D129 614F 32B0
4925</code></a>).</strong>
</p>

<h3>General</h3>
<p class="text-justify">
On this platform, you will be able to submit proposals, comment on and decide over proposals submitted by others. <mark>You are here as an individual, not as a representative of your organization(s).</mark>
</p>

<h3>Goals</h3>
<p class="text-justify">
A major motivation of this program is to foster collaboration between a wide set of actors, as well as provide the necessary tool to quickly react to urgent or emerging issues. Very small amounts may not be that important for larger organizations, but they certainly can be for new ones or independent activists.
</p>

<h3>Eligibility</h3>
<p class="text-justify">
Currently, only EDRi members and observers can submit proposals. <mark>The activities themselves can be carried out by anyone.</mark> The submitting EDRi member or observer acts as a "gatekeeper": Since we are all busy, in order to keep the noise down, we decided not to open the process for outside submissions. We do strongly encourage that you pick up interesting activities by people you meet, and that you use this fund to support volunteers and fresh blood. Be playful!
</p>
