<h2>Strengthening European Whistleblowing</h2>

<p class="text-justify">
This is an example of what you can do with just a few things, a little imagination and a happy dream in your heart. If we're gonna walk though the woods, we need a little path. We artists are a different breed of people. We're a happy bunch.

In this world, everything can be happy. Life is too short to be alone, too precious. Share it with a friend. We want to use a lot pressure while using no pressure at all. Don't forget to tell these special people in your life just how special they are to you. We must be quiet, soft and gentle.
</p>

<h2>Let that brush dance around there and play.</h2> 

<p class="text-justify">
With practice comes confidence. In your world you have total and absolute power.

Nice little clouds playing around in the sky. Let's build some happy little clouds up here. You have freedom here. The only guide is your heart. Everyone wants to enjoy the good parts - but you have to build the framework first. The only prerequisite is that it makes you happy. If it makes you happy then it's good.
</p>

<h2>Scope</h2>

<p class="text-justify">
Don't fiddle with it all day. I will take some magic white, and a little bit of Vandyke brown and a little touch of yellow. We don't want to set these clouds on fire. Maybe we got a few little happy bushes here, just covered with snow. You have to make those little noises or it won't work. It just happens - whether or not you worried about it or tried to plan it.

Maybe there's a happy little waterfall happening over here. Each highlight must have it's own private shadow. A thin paint will stick to a thick paint. And just raise cain. Every single thing in the world has its own personality - and it is up to you to make friends with the little rascals.

We have a fantastic little sky! It is a lot of fun. We'll do another happy little painting. We'll play with clouds today. Let's have a happy little tree in here. You have to make almighty decisions when you're the creator.
</p>

<h2>Be so very light. Be a gentle whisper.</h2>

<p class="text-justify">
This painting comes right out of your heart. Fluff it up a little and hypnotize it. Now let's put some happy little clouds in here.

Nice little fluffy clouds laying around in the sky being lazy. Learn when to stop. The only prerequisite is that it makes you happy. If it makes you happy then it's good.

This is probably the greatest thing that's ever happened in my life. Now we can begin working on lots of happy little things. Put your feelings into it, your heart, it's your world. You create the dream - then you bring it into your world. That's a son of a gun of a cloud.

This is unplanned it really just happens. Every highlight needs it's own personal shadow. I get carried away with this brush cleaning. If you don't like it - change it. It's your world. If you do too much it's going to lose its effectiveness.

In life you need colors. We'll have a super time. I guess that would be considered a UFO. A big cotton ball in the sky. A thin paint will stick to a thick paint. Maybe he has a little friend that lives right over here. Just let this happen. We just let this flow right out of our minds.
</p>
<p>&nbsp;</p>

<em>The European Whistleblowing Fund is an initiative by the <a href="https://www.hermescenter.org/">HERMES Center for Transparency and Digital Human Rights</a> and <a href="https://www.renewablefreedom.org/">Renewable Freedom Foundation</a>, supported by a grant from the Open Society Initiative for Europe within the Open Society Foundations.</em>
