<h2>Strengthening European Digital Rights</h2>

<p class="text-justify">
The European Digital Rights community is highly engaged, well-connected in its own field, and surprisingly successful when their bleak funding situation is taken into account. In other words: the community is doing its best to fight for digital rights, to engage the public, and to counter an efficiently organized and often downright aggressive corporate lobby, but it is struggling on all ends.<p/> Many organizations are either entirely made up of volunteers or of a very small team
of professional staff and have neither the time nor the resources to connect with other civil society organizations. They are the first to track and fight emerging issues in digital rights, the leading expert voices in their communities, but too rarely capable of properly supporting activities and joint campaigns with NGOs and other actors in neighbouring fields or countries. While there is outside support for larger and multi-year projects, both the scope of such
grander projects and the associated commitment of time and resources to the often long-winded processes of application keep NGOs from being able to address, on an ad-hoc basis, time-sensitive matters and often prevent them from adequately forming effective temporary coalitions around common issues.
</p>

<h2>Introducing the European Digital Rights Fund</h2>

<p class="text-justify">
We have invited over 100 leading digital rights experts from the <a href="https://edri.org/members/">European Digital Rights Initiative (EDRi) network</a> to participate in an innovative peer-driven support platform: Each expert can put forward proposals for third parties, and quickly assess and vote on proposals submitted by the rest of the group. Our processes are designed to be lightweight, transparent, and quick.
</p>

<p class="text-justify">
A small-grants program, based on peer-led decisions from the Digital Rights community and with ease of applications and distribution of funds at its heart, significantly strengthens the field. It allows for small, yet important projects to be undertaken by single individuals, organizations and joint initiatives, and especially for ever-more important connections with other rights and civil liberties movements. Small grants allow the community to identify and connect with potential allies
in the fields of activism, research, consumer protection, litigation, and others, and will empower them to quickly address and investigate upcoming issues. It also helps them plan and prepare larger initiatives without having to stretch their already all too thin core budgets.
</p>

<h2>Scope</h2>

<p class="text-justify">
The European Digital Rights Fund is open to initiatives in the space of Digital Rights, but also specifically encourages collaboration and cooperation with other civil society and civil liberty organizations. This will have impact across areas, build lasting connections necessary in the face of strong and well-connected enemies, and overall strengthen the community.
</p>

<p>&nbsp;</p>

<em>The European Digital Rights Fund is an initiative by the <a href="https://www.renewablefreedom.org/">Renewable Freedom Foundation</a>, supported by grants from the Open Society Institute in cooperation with the Information Program of the Open Society Foundations and the <a href="https://epic.org/">Electronic Privacy Information Center</a>.</em>
